---
    interface Props {
        DatosLocal: { 
            direccion: string,
            localidad: string, 
            horarios: string,
            telefono: string,
            celular: string,
            correo: string
        }
    }

const { DatosLocal } = Astro.props;
---

<div class="ContenedorDatos">
    <div class="Datos">
        <h2>{DatosLocal.direccion}</h2>
        <h3>{DatosLocal.localidad}</h3>
        <div class="InfoLocal">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="white"/>
                    <path d="M13 7H11V12.414L14.293 15.707L15.707 14.293L13 11.586V7Z" fill="white"/>
                </svg>
                <span>{DatosLocal.horarios}</span>
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M17.7068 12.2932C17.6141 12.2003 17.5039 12.1265 17.3825 12.0762C17.2612 12.0259 17.1312 12 16.9998 12C16.8685 12 16.7385 12.0259 16.6172 12.0762C16.4958 12.1265 16.3856 12.2003 16.2928 12.2932L14.6988 13.8872C13.9598 13.6672 12.5808 13.1672 11.7068 12.2932C10.8328 11.4192 10.3328 10.0402 10.1128 9.3012L11.7068 7.7072C11.7998 7.61441 11.8735 7.50421 11.9238 7.38289C11.9742 7.26158 12 7.13153 12 7.0002C12 6.86887 11.9742 6.73882 11.9238 6.61751C11.8735 6.49619 11.7998 6.38599 11.7068 6.2932L7.70685 2.2932C7.61406 2.20026 7.50385 2.12652 7.38254 2.07621C7.26122 2.0259 7.13118 2 6.99985 2C6.86851 2 6.73847 2.0259 6.61715 2.07621C6.49584 2.12652 6.38563 2.20026 6.29285 2.2932L3.58085 5.0052C3.20085 5.3852 2.98685 5.9072 2.99485 6.4402C3.01785 7.8642 3.39485 12.8102 7.29285 16.7082C11.1908 20.6062 16.1368 20.9822 17.5618 21.0062H17.5898C18.1178 21.0062 18.6168 20.7982 18.9948 20.4202L21.7068 17.7082C21.7998 17.6154 21.8735 17.5052 21.9238 17.3839C21.9741 17.2626 22 17.1325 22 17.0012C22 16.8699 21.9741 16.7398 21.9238 16.6185C21.8735 16.4972 21.7998 16.387 21.7068 16.2942L17.7068 12.2932ZM17.5798 19.0052C16.3318 18.9842 12.0618 18.6492 8.70685 15.2932C5.34085 11.9272 5.01485 7.6422 4.99485 6.4192L6.99985 4.4142L9.58585 7.0002L8.29285 8.2932C8.17531 8.41065 8.08889 8.55554 8.0414 8.71477C7.99391 8.874 7.98684 9.04256 8.02085 9.2052C8.04485 9.3202 8.63185 12.0472 10.2918 13.7072C11.9518 15.3672 14.6788 15.9542 14.7938 15.9782C14.9564 16.0132 15.1251 16.0067 15.2845 15.9593C15.4439 15.9119 15.5888 15.8252 15.7058 15.7072L16.9998 14.4142L19.5858 17.0002L17.5798 19.0052Z" fill="white"/>
                </svg>
                <span>{DatosLocal.telefono}</span>
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.403 5.63303C17.5714 4.79591 16.5819 4.13214 15.4919 3.68018C14.4019 3.22821 13.233 2.99703 12.053 3.00003C7.105 3.00003 3.077 7.02703 3.075 11.977C3.075 13.559 3.488 15.103 4.273 16.465L3 21.116L7.759 19.867C9.07539 20.5836 10.5502 20.9594 12.049 20.96H12.053C17 20.96 21.028 16.933 21.03 11.983C21.0334 10.8035 20.803 9.63502 20.3521 8.54509C19.9012 7.45516 19.2387 6.4654 18.403 5.63303ZM12.053 19.445H12.05C10.7135 19.4452 9.40163 19.0856 8.252 18.404L7.98 18.242L5.156 18.983L5.909 16.23L5.732 15.948C4.98479 14.7585 4.58923 13.3818 4.591 11.977C4.593 7.86303 7.94 4.51603 12.056 4.51603C13.0363 4.51385 14.0072 4.70611 14.9127 5.08168C15.8181 5.45725 16.6401 6.00867 17.331 6.70403C18.0256 7.39607 18.5762 8.21892 18.9509 9.12503C19.3256 10.0311 19.517 11.0025 19.514 11.983C19.512 16.097 16.165 19.445 12.053 19.445ZM16.146 13.856C15.921 13.743 14.819 13.201 14.613 13.126C14.408 13.051 14.259 13.014 14.109 13.238C13.959 13.462 13.529 13.967 13.398 14.117C13.267 14.267 13.136 14.285 12.912 14.173C12.688 14.061 11.965 13.824 11.108 13.06C10.441 12.465 9.991 11.731 9.86 11.506C9.729 11.281 9.846 11.16 9.959 11.048C10.06 10.948 10.183 10.786 10.295 10.655C10.407 10.524 10.444 10.431 10.519 10.281C10.594 10.131 10.557 10 10.5 9.88803C10.444 9.77503 9.995 8.67103 9.808 8.22203C9.627 7.78703 9.442 7.84503 9.304 7.83903C9.16108 7.83318 9.01804 7.83052 8.875 7.83103C8.76126 7.83393 8.64934 7.86029 8.54626 7.90848C8.44318 7.95666 8.35117 8.02562 8.276 8.11103C8.07 8.33603 7.491 8.87803 7.491 9.98203C7.491 11.086 8.295 12.153 8.407 12.303C8.519 12.453 9.989 14.718 12.239 15.69C12.775 15.921 13.193 16.059 13.518 16.163C14.055 16.334 14.544 16.309 14.931 16.252C15.362 16.188 16.258 15.71 16.445 15.186C16.632 14.662 16.632 14.213 16.576 14.119C16.52 14.025 16.369 13.968 16.146 13.856Z" fill="white"/>
                </svg>
                <span>{DatosLocal.celular}</span>
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18.73 5.4101L17.45 6.4101L12 10.4601L6.54995 6.3701L5.26995 5.3701C4.96841 5.12064 4.6003 4.96514 4.21124 4.92285C3.82218 4.88056 3.42926 4.95334 3.08116 5.13218C2.73306 5.31102 2.44508 5.58806 2.25289 5.92897C2.06071 6.26988 1.97276 6.65969 1.99995 7.0501V18.6401C1.99995 19.0008 2.14324 19.3467 2.39829 19.6018C2.65334 19.8568 2.99926 20.0001 3.35995 20.0001H6.54995V12.2801L12 16.3701L17.45 12.2801V20.0001H20.64C21.0006 20.0001 21.3466 19.8568 21.6016 19.6018C21.8567 19.3467 22 19.0008 22 18.6401V7.0501C22.0187 6.66306 21.9247 6.2789 21.7292 5.94432C21.5337 5.60974 21.2453 5.33914 20.8989 5.16543C20.5525 4.99171 20.1632 4.92235 19.7781 4.96579C19.3931 5.00923 19.0289 5.16358 18.73 5.4101Z" fill="white"/>
                </svg>
                <span>{DatosLocal.correo}</span>
            </p>
        </div>
    </div>
    <div class="RedesSociales">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                <path d="M30 35C35.515 35 40 30.515 40 25C40 19.485 35.515 15 30 15C24.485 15 20 19.485 20 25C20 30.515 24.485 35 30 35ZM30 20C32.7575 20 35 22.2425 35 25C35 27.7575 32.7575 30 30 30C27.2425 30 25 27.7575 25 25C25 22.2425 27.2425 20 30 20Z" fill="white"/>
                <path d="M28.5502 54.535C28.9733 54.8372 29.4803 54.9996 30.0002 54.9996C30.5202 54.9996 31.0271 54.8372 31.4502 54.535C32.2102 53.9975 50.0727 41.1 50.0002 25C50.0002 13.9725 41.0277 5 30.0002 5C18.9727 5 10.0002 13.9725 10.0002 24.9875C9.92772 41.1 27.7902 53.9975 28.5502 54.535ZM30.0002 10C38.2727 10 45.0002 16.7275 45.0002 25.0125C45.0527 36.1075 34.0302 46.07 30.0002 49.3375C25.9727 46.0675 14.9477 36.1025 15.0002 25C15.0002 16.7275 21.7277 10 30.0002 10Z" fill="white"/>
            </svg>
        </a>
    </div>
</div>
<style>
    .ContenedorDatos{
        width: 100%;
        height: 100%;
        color: #F7F7F7;
        position: relative;
    }
    .Datos{
        position: absolute;
        font-style: normal;
        line-height: normal;
        top: 20px;
        left: 20px;
        /* top: 40px;
        left: 50px; */
    }
    h2,h3{
        margin: 0;
    }
    h2{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }
    h3{
        font-size: 20px;
        font-weight: 300;
    }
    .RedesSociales{
        width: 330px;
        height: 60px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .InfoLocal p{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .InfoLocal p span{
        padding-left: 10px;
    }
    .InfoLocal {
        font-size: 16px;
        font-weight: 300;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 120px;
    }
</style>